<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="chat.css">
    <title>Document</title>
</head>
<body>

    <div>
        <img class="avatar" src="https://hodnoceni-ucitelu.fun/core/img/metnity.png" alt="">
    </div>
    <div class="bubble">
        
        <h2 class="name">ethxrnity</h2>
        <p class="chat">Yandex likes his female character in ToF and Im frog with helmet.</p></div>
        
</body>
</html>
